registry=https://artifactory.acoustic.co:443

registry=https://artifactory.acoustic.co/artifactory/api/npm/

registry=https://artifactory.acoustic.co/artifactory/api/npm/shared-npm-virtual

registry=https://artifactory.acoustic.co:443/artifactory/api/npm/content-npm-virtual